<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head>
    <meta charset="UTF-8"/>
    <title>Search Recipes</title>
</head>
<body>
<nav th:replace="fragments :: nav"></nav>


<h1>Search Recipes</h1>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" th:object="${searchData}" method="post">
        <div th:if="${#fields.hasErrors('searchType')}" th:errors="*{searchType}">Error</div>
        <div class="input-group">
            <label th:for="searchTerm">Search:</label>
            <input type="text" class="form-control" name="searchTerm"
                   aria-label="Text input with segmented dropdown button" placeholder="text here..." required>
                <div th:if="${#fields.hasErrors('searchTerm')}" th:errors="*{searchTerm}">Error</div>
            <select class="custom-select" name="searchType" required>
                <option value="">Select Search Type</option>
                <option value="keyword">Keyword</option>
                <option value="ingredient">Ingredient</option>
                <option value="isAlcholic">Search Mocktails</option>

            </select>
            <hr/>
            <input type="submit" value="Submit">
        </div>



    </form>

    <div>

        <ol th:if = "${results}">
            <li th:each ="Cocktail: ${results}" th:text = "${Cocktail.strDrink}"></li>
        </ol>

        <p th:unless = "${results}">No Results!</p>
    </div>


</div>

</body>
<footer th:replace="fragments :: footer"></footer>
</html>