<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<header th:replace="fragments :: header"></header>

<h3>Let's Find More Friends</h3>

<hr/>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{searchFriends/results}" method = "post">

        <div class="input-group">
            <label th:for="friendName">Enter a Friend's Name:</label>

            <input type="text" name="friendName" id="searchTerm" >

            <input type="submit" value="Search" >
        </div>

    </form>
</div>
<br>
<p th:unless="${userFriends} and ${userFriends.size()}">No Search Results Available</p>

<div>
    <ul th:each="userFriend : ${userFriends}">
        <li th:text = "${userFriend.userName}"></li>
    </ul>
</div>
<br>


</body>
<footer th:replace="fragments :: footer"></footer>
</html>