<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<header th:replace="fragments :: header"></header>





<div class="container body-content">
    <h2>Friends</h2>
    <br>
    <p th:unless="${friends} and ${friends.size()}">no friends added yet!</p>
    <br>
    <div>
        <p th:each="friend : ${friends}" th:text = "${friend.username}">
<!--            <a th:href="@{'/friends/view/' + ${friend.id}}" th:text="${friend.name}"></a>-->
        </p>
    </div>
    <a th:href="@{'/friends/search'}">Find More Friends</a>




</div>

</body>
<footer th:replace="fragments :: footer"></footer>
</html>