<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<header th:replace="fragments :: header"></header>



<p th:unless="${friends} and ${friends.size()}">no friends added yet!</p>

<div class="container body-content">
    <h2>Friends</h2>
    <ul>
        <li th:each="friend : ${friends}" th:text = "${friend.userName}">
<!--            <a th:href="@{'/friends/view/' + ${friend.id}}" th:text="${friend.name}"></a>-->
        </li>
    </ul>
    <a th:href="@{'/friends/search'}">Find More Friends</a>


<!--    <div>-->
<!--        <ol>-->
<!--            <a>-->
<!--                <li th:each ="Cocktail: ${results}" th:text = "${Cocktail.strDrink}"></li>-->
<!--            </a>-->
<!--        </ol>-->

<!--    </div>-->

</div>

</body>
<footer th:replace="fragments :: footer"></footer>
</html>