.recipes{
    display: inline-block;
    margin-right: 10pt;
    margin-left: 10pt;
    margin-top: 15pt;
    text-align: center;
}

header{
    font-size: 24pt;
    color: blue;
}

h2{
    font-family:"Papyrus", fantasy;
    font-size: 18pt;
    font-style: bold;
    color: blue;

}

.seeMore{
    font-family: "Lucida Handwriting", cursive;
    font-size: 14pt;
}