<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<!--head fragment -->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--    <script th:src="@{/script.js}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles.css}">
    <script type="text/javascript" th:src="@{/script.js}"></script>
</head>

<head th:fragment="create-head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles.css}">
    <script type="text/javascript" th:src="@{/script.js}"></script>

</head>
<!-- head fragment -->

<!--nav fragment-->
<nav th:fragment="nav" class="navbar navbar-expand-lg" style="background-color: #151019;">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="https://www.dropbox.com/s/e1f48g8hta1vpx7/nav-HomeBartender-logo.svg?raw=1" alt="Logo" width="214" height="46" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="nav-item">
                    <a class="nav-link" th:href="@{'/'}">Dashboard</a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recipes
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{'/my_recipes'}">My Concoctions</a>
                        <a class="dropdown-item" th:href="@{'/recipe/new-recipe'}">Create A Recipe</a>
<!--                        <a class="dropdown-item" th:href="@{'/friends_recipes'}">Friends' Recipes</a>-->
<!--                        <a class="dropdown-item" th:href="@{'/my_favorites'}">Favorite Recipes</a>-->
                        <a class="dropdown-item" th:href="@{'/view_all'}">View All Recipes</a>
                    </div>
                </div>

                <div class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Friends
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{'/friends/view'}">My Friends</a>
                        <a class="dropdown-item" th:href="@{'/friends/add'}">Add a Friend</a>
                        <a class="dropdown-item" th:href="@{'/searchFriends'}">Search For Friends</a>
                    </div>

                </div>
                <div class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </div>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control-nav me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-nav btn-sm" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" fill="#FFFFFF" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</nav>
<!--nav fragment-->


<!--h1 fragment-->
<div th:fragment="header" class="container">
    <div class="pt-5">
        <h1 th:text="${h1}" class="h1"></h1>
    </div>
    <div class="pb-3 col-md-8">
        <p th:text="${lead}" class="lead"></p>
    </div>
</div>
<!--h1 fragment-->

<!--footer fragment-->
<div th:fragment="footer" class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top">
                <p class="col-md-4 mb-0 text-muted">&copy; 2022 LiftOff</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rocket-takeoff-fill" viewBox="0 0 16 16">
                        <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z"/>
                        <path d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z"/>
                    </svg>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a th:href="@{'/'}" class="nav-link px-2 text-muted">Dashboard</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </footer>
</div>
<!--footer fragment-->



</html>