<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <form th:action="@{/login}" th:object="${loginData}" method="post">

        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="https://cdn.4uc.org/i/images/crn/8900208/stumpbanner.jpg" alt="Fancy Drinks"
                         class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <div class="col-lg-8">
                    <form>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example1" class="form-control" />
                            <label class="form-label" for="form2Example1">Email address (Required)</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example2" class="form-control" />
                            <label class="form-label" for="form2Example2">Password (Required)</label>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example30" checked />
                                    <label class="form-check-label" for="form2Example31"> I certify that I am 21 or older. </label>
                                </div>
                            </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                                </div>
                            </div>

<!--                            taking out the "Forgot passowrd" ----MVP-->
<!--                            <div class="col">-->
<!--                                &lt;!&ndash; Simple link &ndash;&gt;-->
<!--                                <a href="forgot password!">Forgot password?</a>-->
<!--                            </div>-->
                        </div>

                        <!-- Submit button -->
                        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>Not a HomeBartender? <a href="register">Register</a></p>
                        </div>

                    </form>
