<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form th:action="@{/login}" th:object="${loginData}" method="post">

    <h1>Welcome to HomeBartender!</h1>
    <p>Login below to start crafting delicious cocktails. Cheers!</p>
    <hr>

    <div class="card mb-3">
                    <div class="row g-0 d-flex align-items-center">
                        <div class="col-lg-4 d-none d-lg-flex">
                            <img src="https://cdn.4uc.org/i/images/crn/8900208/stumpbanner.jpg" alt="Fancy Drinks"
                                 class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                        </div>
                    </div>
    </div>
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In">

</form>

<p>Not a HomeBartender? <a href="register">Register</a></p>

</body>
</html>


<!--This is what I had before-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--<head>-->
<!--    <form th:action="@{/login}" th:object="${loginData}" method="post">-->

<!--        <div class="card mb-3">-->
<!--            <div class="row g-0 d-flex align-items-center">-->
<!--                <div class="col-lg-4 d-none d-lg-flex">-->
<!--                    <img src="https://cdn.4uc.org/i/images/crn/8900208/stumpbanner.jpg" alt="Fancy Drinks"-->
<!--                         class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />-->
<!--                </div>-->
<!--                <div class="col-lg-8">-->
<!--                    <form>-->
<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="email" id="form2Example1" class="form-control" />-->
<!--                            <label class="form-label" for="form2Example1">Email address (Required)</label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Password input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="password" id="form2Example2" class="form-control" />-->
<!--                            <label class="form-label" for="form2Example2">Password (Required)</label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; 2 column grid layout for inline styling &ndash;&gt;-->
<!--                        <div class="row mb-4">-->
<!--                            <div class="col d-flex justify-content-center">-->
<!--                                &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="checkbox" value="" id="form2Example30" checked />-->
<!--                                    <label class="form-check-label" for="form2Example31"> I certify that I am 21 or older. </label>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />-->
<!--                                    <label class="form-check-label" for="form2Example31"> Remember me </label>-->
<!--                                </div>-->
<!--                            </div>-->

<!--&lt;!&ndash;                            taking out the "Forgot passowrd" &#45;&#45;&#45;&#45;MVP&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;                                &lt;!&ndash; Simple link &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="forgot password!">Forgot password?</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>-->

<!--                        &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--                        <div class="text-center">-->
<!--                            <p>Not a HomeBartender? <a href="register">Register</a></p>-->
<!--                        </div>-->

<!--                    </form>-->
