<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body >
<nav th:replace="fragments :: nav"></nav>

<h1 class = "faq">Frequently Asked Questions</h1>

<div class="faqContainer">
    <div class="question">
        <div class="q share"> Q: </div>
        <div class="qpart share">How do I favorite a drink</div>
    </div>

    <div class="answer ">
        <div class = "a share"> A:  </div>
        <div class="apart share">Drinks can be favorited by  clicking on the star, to the right of the drink name when viewing drinks individually</div>
    </div>
</div>

<div class="faqContainer">
    <div class="question">
        <div class="q share"> Q: </div>
        <div class="qpart share">How can I edit a drink that I made</div>
    </div>

    <div class="answer share">
        <div class = "a share"> A:  </div>
        <div class="apart share">Currently, users are unable to edit their custom drinks. Our development team is aware of this and will soon begin on implementing this feature</div>
    </div>
</div>

<div class="faqContainer">
    <div class="question">
        <div class="q share"> Q: </div>
        <div class="qpart share">How do I logout</div>
    </div>

    <div class="answer share">
        <div class = "a share"> A:  </div>
        <div class="apart share">There is a red logout button in the right corner, or if your screen is small there is a hamburger menu in the right corner. If you click on that you should see the red logout button. Click the logout button to logout</div>
    </div>
</div>

<div class="faqContainer">
    <div class="question">
        <div class="q share"> Q: </div>
        <div class="qpart share">Can I share the drinks I create with my friends?</div>
    </div>

    <div class="answer share">
        <div class = "a share"> A:  </div>
        <div class="apart share">At the moment, you cannot but this is a feature that we are working on. </div>
    </div>
</div>


<div class="faqContainer">
    <div class="question">
        <div class="q share"> Q: </div>
        <div class="qpart share">Was this hard to put together. </div>
    </div>

    <div class="answer share">
        <div class = "a share"> A:  </div>
        <div class="apart share">While every project has it's challenges, together with a great team we were all able to accomplish more than we originally thought we could. </div>
    </div>
</div>

</body>
</html>