<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<header th:replace="fragments :: header"></header>

    <h2>Recipes, Recipes, & more RECIPES </h2>

<!--    <div class="recipes">-->
<!--        <tr th:each="singleCocktail : ${allCocktails}">-->
<!--            <div class="card" style="width: 18rem;">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" th:text="${singleCocktail.strDrink}"></h5>-->
<!--                    <p  th:each="singleRecipe : ${allRecipes}" >-->

<!--              <img src="${singleRecipe.str_drink_thumb}" class="card-img-top" alt="...">-->
<!--                    <span th:if="${singleCocktail.id} == ${singleRecipe.cocktails.id}" th:text="${singleRecipe.strInstructions}"></span>-->
<!--                <p class="card-text"  th:text="${singleRecipe.strInstructions}"></p>-->
<!--                <p class="card-text" th:text="${myRecipe.instructions}"></p>-->
<!--                <a href="#" class="btn btn-primary">See Full Recipe</a>-->
<!--              </div>-->

<!--                </p>-->
<!--            </div>-->
<!--        </tr>-->
<!--    </div>-->


    <ol>
        <li th:each="cocktail : ${allCocktails}">
<!--            <a th:href="@{/viewRecipes/{id}(id=${cocktail.id})}">-->

                <span th:text="${cocktail.strDrink}"></span>
                <ul>
                    <li th:each="recipe : ${allRecipes}" th:if="${recipe.cocktails.id} == ${cocktail.id}" >
                        <span th:if="${recipe.cocktails.id} == ${cocktail.id}" th:text=" ${recipe.strInstructions}"></span>
                    </li>
                </ul>

            </a>
        </li>
    </ol>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>