<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>

<header th:replace="fragments :: header"></header>

    <h2 class="drinksTitle">Drinks, Drinks, & more DRINKS </h2>
    <br>
    <br>
    <div class="allRecipes">

        <div class="columns">
                <div class="boxes" th:each="cocktail : ${allCocktails}">
                    <a th:href="@{/viewRecipes/{id}(id=${cocktail.id})}">
                        <h5 th:text="${cocktail.strDrink}"></h5>
                    </a>
                    <div th:each="recipe : ${allRecipes}" >
                        <p th:if="${recipe.cocktails.id} == ${cocktail.id}">
                        <span><img th:src="${recipe.strDrinkThumb}" width="200" height="200"></span>
    <!--                        <span th:text="${recipe.strInstructions}"></span>-->
                        </p>
                    </div>
                </div>
        </div>
    </div>

</body>
<footer th:replace="fragments :: footer"></footer>
</html>